.page-header {
    background-color: black;
}

#display-h1 {
    text-align: center;
    color: white;
    padding: 20px;
}

#display-temp {
    padding: 20px;
}

#display-wind {
    padding: 20px;
}

#display-hum {
    padding: 20px;
}

#display-uv {
    padding: 20px;
}

#display-h2 {
    margin-left:245px;
}

#main {
    margin-left: 250px;
    bottom: 60px;
}

#day-1, #day-2, #day-3, #day-4, #day-5 {
    float: right;
}